/*
Couples Resort Responsive Build
4 column grid as per XD file
 */

/*
    CSS Guide

    1.  General Styles
    2.  Main Nav
    3.  Main Hero Image
    4.  edients
    5.  Introducing Quatro Flavours
    6.  Featuring Product
    7.  Flavous
    8.  Subscribe
    9.  Testimonial
    10.  Gallery
    11. Footer
    12. Contact Page
    13.  Flavours Page
 */

/* 1. ---General Styles--- */

#mobile-outline {
  outline: 20px solid #333;
  max-width: 430px;
  margin: 20px auto 20px auto;
  border-radius: 10px;
}

body {
  background-color: #fffbf3;
  color: #626262;
  font-family: "IBM Plex Mono", monospace;
}

a {
  text-decoration: none;
  transition: all 0.5s ease-in-out;
}

input,
textarea {
  display: block;
  margin: 0;
  padding: 0;
}

.cr-red {
  color: #9a2018;
}

h2 {
  font-family: "kon-tiki-aloha-jf", sans-serif;
  font-size: 45px;
  font-weight: 400;
  font-style: normal;
}

h3 {
  font-family: "kon-tiki-aloha-jf", sans-serif;
  font-size: 30px;
  font-weight: 400;
  font-style: normal;
}
/* 2. ---Main Nav--- */

#main-nav button {
  width: 20px;
  height: 20px;
  background: url(../images/burger.svg) no-repeat center;
  margin-top: 15px;
  transition: all 0.5s ease;
  margin-bottom: 20px;
  border: 0;
}

#main-nav button.expanded {
  transform: rotate(90deg);
}
/* change font weight */
#burger-con {
  margin-top: 20px;
  margin-bottom: 20px;
  display: none;
  font-weight: 900;
}

/* nav text align:center; */
#burger-con ul {
  text-align: right;
}

#burger-con li {
  padding-right: 10px;
}

#burger-con.slide-toggle {
  display: block;
}

#main-nav ul li a:hover {
  color: #94da00;
}

#main-nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#main-nav ul li a {
  display: block;
  padding: 10px 0 10px 0;
  text-align: center;
  color: #626262;
}

#main-nav ul li {
  border-bottom: 1px solid #efefef;
}

#main-nav ul li:first-child {
  border-top: 1px solid #efefef;
}

#main-nav ul li:last-child {
  margin-bottom: 10px;
}

/* change the size of mobile ver of logo */
#logo {
  margin-bottom: 20px;
  width: 100px;
}
/* 3. Hero => video */
/* delete class="hidden" to see size of the box */
#video-box {
  margin-bottom: 20px;
  font-size: 100px;
}

#sign-header {
  display: none;
}

#sign-hero {
  height: 67px;
}

#hero-heading-box {
  align-self: end;
}

#introduction-con {
  font-weight: 400;
  font-size: 20px;
  margin-bottom: 30px;
  margin-top: 30px;
}

.introducing_h2 {
  font-family: "kon-tiki-aloha-jf", sans-serif;
  font-size: 45px;
  font-weight: 400;
  font-style: normal;
}

.featuring_h2 {
  font-family: "kon-tiki-aloha-jf", sans-serif;
  font-size: 40px;
  font-weight: 400;
  font-style: normal;
}

#poster img {
  margin-top: 20px;
}
/* I set the sizes(width and height) of all the svg the same. */
/* 4. ---edeints--- */
#ingredients {
  margin-bottom: 30px;
}

#ingredients p {
  margin-top: 15px;
  font-weight: 400;
  font-size: 14px;
}

#nitrogen,
#carbonated,
#tropical {
  padding-top: 35px;
  padding-bottom: 35px;
}

#flavours {
  padding-top: 35px;
  padding-bottom: 35px;
}

#can_svg {
  display: block;
}

#flavors_details {
  display: flex;
  justify-content: center;
}

/* #flavors_details p {
  margin-top: 15px;
} */
#grape,
#lime,
#pineapple {
  padding-right: 40px;
}

/* 5.  Introducing Quatro Flavours */

#introduction-flavour-box p {
  margin: 30px 0;
  line-height: 30px;
}

#poster {
  position: relative; /* Allow absolute positioning of child elements*/
  display: flex;
  overflow: hidden;
  width: 100%;
  transition: transform 0.5s ease-in-out;
  background: url(../images/beachDay.png);
  background-size: cover;
  background-position: center;
  height: 600px;
  object-fit: cover;
}

#poster .slider-image {
  min-width: 100%;
  transition: opacity 0.5s ease-in-out;
  object-fit: cover;
}

#poster .slider-image.hidden {
  opacity: 0;
  pointer-events: none;
}

#poster .slider-image.visible {
  opacity: 1;
}

#prev-btn-poster,
#next-btn-poster {
  position: absolute; /*position buttons relative to the #poster container*/
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  cursor: pointer;
  padding: 20px;
  /* border: 2px solid black; */
  background-color: rgba(255, 255, 255, 0.6);
  z-index: 10;
}

#prev-btn-poster {
  left: 0px;
}

#next-btn-poster {
  right: 0px;
}

/* 애니 */
.box1 {
  top: 20%;
  left: 40%;
  width: 120px;
  height: 200px;
  z-index: 1;
  animation: logo 2s ease-out forwards;
}

@keyframes logo {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  50% {
    opacity: 1;
    transform: scale(1.5);
  }
  100% {
    opacity: 0;
    transform: scale(0.5);
  }
}

.box2 {
  top: 15%;
  right: 100%;
  font-size: 50px;
  font-weight: bold;
  color: #fff;
  opacity: 0;
  z-index: 2;
  animation: textOne 2s ease-out 3s forwards;
}

@keyframes textOne {
  0% {
    opacity: 0;
    transform: translateX(250px) translateY(0px);
  }
  50% {
    opacity: 0.8;
    transform: translateX(250px) translateY(0px);
  }
  75% {
    opacity: 0.9;
    transform: translateX(250px) translateY(-200px);
  }
  100% {
    opacity: 1;
    transform: translateX(250px) /*translateY(-400px)*/;
  }
}

.box3 {
  top: 15%;
  left: 45%;
  font-size: 50px;
  font-weight: bold;
  opacity: 0;
  color: #fff;
  z-index: 3;
  animation: textTwo 2s ease-out 3s forwards;
}

@keyframes textTwo {
  0% {
    opacity: 0;
    transform: translateX(5px);
  }
  50% {
    opacity: 0.8;
    transform: translateX(5px);
  }
  75% {
    opacity: 0.9;
    transform: translateX(100px);
  }
  100% {
    opacity: 1;
  }
}

.box4 {
  top: 50%;
  left: 10%;
  width: 80%;

  font-weight: bold;
  opacity: 0;
  color: #fff;
  z-index: 4;
  animation: canAni 3s ease-out 5s forwards;
}

@keyframes canAni {
  0% {
    opacity: 0;
    transform: scale(0.3) rotate(-10deg);
  }
  50% {
    opacity: 0.7;
    transform: scale(0.8) rotate(5deg);
  }
  100% {
    opacity: 1;
    transform: scale(1) rotate(0deg);
  }
}

.box5 {
  position: absolute;
  top: -45%;
  left: -15%;
  width: 70%;
  height: 100px;
  z-index: 3;
  opacity: 0;
  animation: pineapple 2.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) 6s forwards;
}

@keyframes pineapple {
  0% {
    opacity: 0;
    transform: translateY(-400px) rotate(-30deg) scale(0.8);
  }
  50% {
    opacity: 1;
    transform: translateY(250px) rotate(20deg) scale(1.2);
  }
  75% {
    opacity: 1;
    transform: translateY(400px) rotate(-10deg) scale(1);
  }
  100% {
    opacity: 1;
    transform: translateY(545px) rotate(0deg) scale(1);
  }
}

.box6 {
  position: absolute;
  top: -40%;
  left: 10%;
  width: 55%;
  height: 110px;
  z-index: 5;
  animation: grape 2.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) 6s forwards;
}

@keyframes grape {
  0% {
    opacity: 0;
    transform: translateY(-300px) scale(0.8);
  }
  50% {
    opacity: 1;
    transform: translateY(300px) scale(1.2);
  }
  75% {
    opacity: 1;
    transform: translateY(450px) scale(1);
  }
  100% {
    opacity: 1;
    transform: translateY(655px) scale(1);
  }
}

.box7 {
  position: absolute;
  top: -35%;
  left: 42%;
  width: 45%;
  height: 100px;
  z-index: 5;
  animation: limee 2.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) 6s forwards;
}

@keyframes limee {
  0% {
    opacity: 0;
    transform: translateY(-300px) rotate(30deg);
  }
  50% {
    opacity: 1;
    transform: translateY(320px) rotate(-15deg);
  }
  75% {
    opacity: 1;
    transform: translateY(470px) rotate(5deg);
  }
  100% {
    opacity: 1;
    transform: translateY(640px) rotate(0deg);
  }
}

.box8 {
  position: absolute;
  top: -28%;
  left: 58%;
  width: 45%;
  height: 150px;
  z-index: 3;
  animation: peach 2.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) 6s forwards;
}

@keyframes peach {
  0% {
    opacity: 0;
    transform: translateY(-300px) scale(0.8);
  }
  50% {
    opacity: 1;
    transform: translateY(350px) scale(1.3);
  }
  75% {
    opacity: 1;
    transform: translateY(500px) scale(1);
  }
  100% {
    opacity: 1;
    transform: translateY(570px) scale(1);
  }
}

/* Default styles (for larger screens) */
.box1,
.box2,
.box3,
.box4,
.box5,
.box6,
.box7,
.box8 {
  position: absolute;
}

.body-button {
  background-color: #94da00;
  transition: background-color 500ms linear;
  display: flex;
  justify-content: center;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  margin-top: 30px;
  border-radius: 30px;
  border: none;
  color: #333;
  font-weight: 900;
  font-size: 13px;
  padding: 10px 20px;
  width: 250px;
  align-self: flex-end;
}

/*  6.  Featuring Product */

#featuring-product-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#featuring-con {
  margin-bottom: 30px;
}
/* 7.  Flavours */

#flavours-con {
  margin-bottom: 30px;
}
#flavours-can {
  display: flex;
  flex-direction: column;
}

#flavours-header {
  text-align: center;
}

.product-flavours-part {
  display: flex;
  justify-content: space-evenly;
}

.body-button-round {
  background-color: #94da00;
  transition: background-color 500ms linear;
  display: flex;
  justify-content: center;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  border-radius: 30px;
  border: none;
  color: #333;
  font-weight: 900;
  font-size: 15px;
  padding: 10px 20px;
  width: 30px;
  align-self: flex-end;
}
/* 8.  Subscribe */
#subscribe-con {
  padding: 80px 20px;
  background-color: rgba(3, 23, 73, 0.5);
  border: 1px solid #ddd;
  border-radius: 5px;
  font-family: "IBM Plex Mono", monospace;
}

#subscribe-con p {
  color: #fff;
}

#subscribe-quatro-box h2 {
  font-family: "kon-tiki-aloha-jf", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 45px;
  color: #fff;
  margin-bottom: 10px;
}

#subscribe-form form {
  display: flex;
  align-items: center;
}

#subscribe-form input[type="text"] {
  width: 513px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}

.signup_button {
  border-radius: 5px;
  background-color: #94da00;
  transition: background-color 500ms linear;
  display: flex;
  justify-content: center;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  border: none;
  color: #333;
  font-weight: 900;
  font-size: 13px;
  padding: 20px;
}

.signup_button:hover {
  background-color: #1dda00af;
}

/*  */
#contact-hero-con {
  background: url(../images/contact-hero.jpg);
  height: 195px;
}

#contact-hero-heading-box {
  align-self: end;
}

#contact-hero-text {
  margin-top: 15px;
  margin-bottom: 25px;
}

#contact-hero-address p {
  margin-bottom: 20px;
  font-size: 14px;
  line-height: 22px;
}

#contact-hero-address {
  margin-bottom: 30px;
}

#contact-hero-address h3 {
  margin-bottom: 25px;
}

/* 9. --Testimonial-- */

#client-con {
  margin-bottom: 30px;
}

#testimonial-con {
  display: contents;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.fa {
  font-size: 30px;
  margin-top: 20px;
}
#testimonial {
  margin-top: 20px;
  margin-bottom: 20px;
  min-height: 180px;
}
.testimonial-paragraph {
  margin-bottom: 10px;
}
.testimonial-name {
  text-align: center;
}
.testimonial-level {
  text-align: center;
}

/* 10. ---Gallery--- */
#gallery_header {
  display: flex;
  align-items: center;
}

#slider-container {
  overflow: hidden;
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
}

#image-slider {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slider-image {
  max-width: 100%;
  max-height: 600px;
}

#prev-btn,
#next-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  cursor: pointer;
  padding: 20px;
  border: none;
  background-color: rgba(255, 255, 255, 0.6);
}

#prev-btn {
  left: 0px;
}
#next-btn {
  right: 0px;
}

#next-btn2 {
  right: 0px;
}

#slider-container2 {
  overflow: hidden;
  position: relative;
  margin-top: 20px;
  margin-bottom: 20px;
}

#image-slider2 {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.slider-image2 {
  max-width: 100%;
  max-height: 600px;
}

#prev-btn2,
#next-btn2 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 20px;
  cursor: pointer;
  padding: 20px;
  border: none;
  background-color: rgba(255, 255, 255, 0.6);
}

#prev-btn2 {
  left: 0px;
}

#next-btn2 {
  right: 0px;
}
/* 11. ---Footer--- */

#footer-nav li {
  list-style: none;
}

#footer-nav a {
  color: #626262;
}

#footer-nav a:hover {
  color: #1dda00af;
  transition-duration: 0.2s;
}

#footer-nav li:first-of-type {
  font-weight: 900;
  color: #333;
}

#footer-nav2 li {
  list-style: none;
}

#footer-nav2 a {
  color: #626262;
}

#footer-nav2 a:hover {
  color: #1dda00af;
  transition-duration: 0.2s;
}

#footer-nav2 li:first-of-type {
  font-weight: 900;
  color: #333;
}

#footer-nav3 li {
  list-style: none;
}

#footer-nav3 a {
  color: #626262;
}

#footer-nav3 a:hover {
  color: #1dda00af;
  transition-duration: 0.2s;
}

#footer-nav3 li:first-of-type {
  font-weight: 900;
  color: #333;
}

#footer-hero {
  font-size: 16px;
  margin-top: 40px;
  padding-bottom: 80px;
  background: var(--Pink, rgba(254, 106, 180, 0.1));
}

#footer-hero h3 {
  margin-top: 30px;
  font-size: 28px;
  margin-bottom: 16px;
}

#footer-privacy .line-seperator {
  margin-top: 0px;
}

#footer-contact-info h3 {
  font-size: 23px;
}

#footer-contact-info p {
  margin-bottom: 20px;
  line-height: 18px;
  font-size: 11px;
}

#price-policy {
  margin-top: 20px;
  text-align: center;
  margin-bottom: 20px;
}
#footer_logo {
  margin-top: 30px;
  margin-bottom: 30px;
  width: 80px;
  height: 80px;
}

/*12. Contact Page */

#pineapple_contact {
  display: none;
}

#pineapple_contact img {
  margin-top: 70px;
  border-radius: 15px;
}

#contact-form {
  background-color: #fdf8d5;
  padding: 15px 15px;
  border-radius: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
}

#contact-hero-form form {
  display: flex;
  flex-direction: column;
}

#contact-hero-form input,
textarea {
  padding: 22px;
  border: 2px solid #d6d6d6;
  background-color: #f7f7f7;
  border-radius: 5px;
  margin-bottom: 30px;
  font: inherit;
  width: auto;
}

#contact-hero-form textarea {
  height: 250px;
}

#contact-hero-form input[type="submit"] {
  border-radius: 5px;
  background-color: #94da00;
  transition: background-color 500ms linear;
  display: flex;
  justify-content: center;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  border: none;
  color: #333;
  font-weight: 900;
  font-size: 13px;
  padding: 12px 28px;

  width: 150px;
  align-self: flex-end;
}

#contact-hero-form input[type="submit"]:hover {
  background-color: #1dda00af;
}

/* 12.  Flavours Page */
#lime-images {
  /* put image later*/
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 100px;
  padding: 100px;
  background-color: #333;
  justify-content: space-between;
}

/* Flavour Details Section */
#lime-detail-sec,
#peach-detail-sec,
#pineapple-detail-sec,
#grape-detail-sec {
  display: flex;
  justify-content: space-evenly; /* Align items to the edges */
  align-items: flex-start; /* Align items to the top */
}

.render-buttons-pair {
  display: flex;
  flex-direction: column; /* Align items vertically */
  align-items: center; /* Center items horizontally */
}

.render-buttons-pair img {
  max-width: 100%;
  height: auto;
}

.flavour-button-big-box {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px; /* Adjusted margin for better spacing */
}

.flavour-button-box {
  background-color: #94da00;
  transition: background-color 500ms linear;
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: italic;
  transition: all 0.3s ease;
  cursor: pointer;
  width: 90px;
  height: 30px;
  margin: 5px;
  border-radius: 30px;
}

.flavour-button-box:hover {
  background-color: #1dda00af;
}

.flavour-button-big-box button {
  background: transparent;
  border: none;
  color: #333;
  font-weight: 900;
  font-size: 13px;
}
.promo-light-box-button {
  background-color: #94da00;
  transition: background-color 500ms linear;
  display: flex;
  justify-content: center;
  align-items: center;
  font-style: italic;
  transition: all 0.3s ease;
  cursor: pointer;
  width: 90px;
  height: 30px;
  margin-top: 5px;
  border-radius: 30px;
}

.promo-light-box-button :hover {
  background-color: #1dda00af;
}
.promo-light-box-button a {
  background: transparent;
  border: none;
  color: #333;
  font-weight: 900;
  font-size: 13px;
}

/* Flavour Detail Box */
.flavour-detail-box {
  max-width: 600px; /* Adjust width as needed */
}

.flavour-detail-box p {
  padding-top: 10px; /* Reduced padding for a tighter layout */
  line-height: 25px;
  font-size: 14px; /* Slightly smaller font size */
}

.flavour-detail-box h4 {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 14px; /* Adjust font size for consistency */
}

.flavour-icon-pair {
  display: flex;
  align-items: center;
}

.flavour-icon-pair h2 {
  font-size: 30px;
  margin-top: 30px;
}

.flavour-icon-pair img {
  max-width: 55px;
  max-height: 55px;
  margin-left: 20px; /* Adjusted margin for better alignment */
  margin-top: 33px;
}

/* Detail Summary Box */
.view-nutrition-box {
  margin-top: 10px; /* Adjusted margin for spacing */
  width: 95%;
}

details {
  border: none;
  padding: 10px 0;
  font-size: 13px;
}

summary {
  background-color: #efefef;
  padding: 10px;
  cursor: pointer;
  font-weight: bold;
  font-size: 13px;
}

details p {
  margin-bottom: 0;
  padding-bottom: 0;
}

.nutrition-table {
  width: 90%;
  border-collapse: collapse;
  margin-top: 10px;
}

.nutrition-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

.nutrition-table td:first-child {
  background-color: #f4f4f4;
  font-weight: bold;
}

#share {
  margin-top: 20px;
}

.infopanellime {
  animation: fadeIn 2s ease-out 1;
}
.infopanelpeach {
  animation: fadeIn 2s ease-out 1;
}
.infopanelpineapple {
  animation: fadeIn 2s ease-out 1;
}
.infopanelgrape {
  animation: fadeIn 2s ease-out 1;
}

@keyframes slideIn {
  from {
    transform: translateX(-500px);
  }
  to {
    transform: translateX(0px);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* lightbox rules here */

.lightbox {
  width: 100vw; /* vw = viewport width => screen width */
  height: 100vh; /* vh = viewport height => screen height */

  position: absolute;
  top: 0;
  left: 0;

  background-color: rgba(0, 0, 0, 0.85);
  /*background-image: url("../images/Cap_LB_Bg.png");
  background-repeat: no-repeat;*/

  /*background-size: 55vh;  55% of the viewport height 
  background-position: 40px bottom;*/

  z-index: 5000;

  display: none;
}

.lightbox_close {
  position: relative;
  top: 20px;
  left: 95%;

  color: white;
  font-size: 3em;

  text-decoration: none;

  font-weight: bolder;
}

.lightbox_close:hover {
  opacity: 0.5;
  color: #94da00;
}

.lightbox article {
  width: 100%;
  padding-top: 50px;
}

.lb_text,
.lb_heading {
  text-align: center;
  color: #fff;
}

.lb_heading {
  font-size: 80px;
}

.lb_text {
  line-height: 1.6 !important;
  margin-left: 0;
  padding-top: 2em;
  font-size: 70px;
}

/* turn the lightbox on using the :target pseudo selector */
.lightbox:target {
  display: block;
}

/* ---Tablet Library Grid Styles--- */

@media screen and (min-width: 768px) {
  .box1 {
    top: 20%;
    left: 45%;
    width: 150px;
    height: 200px;
    z-index: 1;
  }
  .box2 {
    right: 90%;
    top: 13%;
    font-size: 70px;
    font-weight: bold;
    color: #fff;
    opacity: 0;
    z-index: 2;
    animation: textOne 2s ease-out 3s forwards;
  }
  .box3 {
    top: 18%;
    left: 45%;
    font-size: 40px;
    font-weight: bold;
    opacity: 0;
    color: #fff;
    z-index: 3;
    animation: textTwo 2s ease-out 3s forwards;
  }
  .box4 {
    top: 30%;
    left: 12%;
    width: 65%;
    font-weight: bold;
    opacity: 0;
    color: #fff;
    z-index: 4;
    animation: canAni 3s ease-out 5s forwards;
  }
  .box5 {
    position: absolute;
    top: -55%;
    left: -5%;
    width: 50%;
    z-index: 3;
    animation: pineapple 2.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) 6s forwards;
  }
  .box6 {
    position: absolute;
    top: -55%;
    left: 10%;
    width: 48%;
    height: 110px;
    z-index: 5;
    animation: grape 2.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) 6s forwards;
  }
  .box7 {
    position: absolute;
    top: -52%;
    left: 36%;
    width: 40%;
    height: 100px;
    z-index: 5;
    animation: limee 2.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) 6s forwards;
  }
  .box8 {
    position: absolute;
    top: -48%;
    left: 50%;
    width: 45%;
    height: 150px;
    z-index: 3;
    animation: peach 2.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) 6s forwards;
  }
  #sticky-nav-con {
    position: sticky;
    top: 0px;
    background-color: #fffbf3;
    /* border-bottom: solid 1px #c3c3c3; */
    z-index: 1;
  }

  /* set the nav at the center on vertical line */
  #main-nav ul {
    line-height: 68px;
  }

  #main-nav ul li a {
    display: inline;
  }

  #main-nav ul li {
    padding-right: 10px;
  }

  #button {
    display: none;
  }

  #burger-con {
    display: block;
    font-size: 15px;
  }

  #burger-con ul li,
  #burger-con ul li:first-child {
    border: none;
    display: inline;
  }

  #burger-con ul li {
    margin-right: 10px;
  }

  #burger-con ul li:last-child {
    margin-right: 0px;
  }

  #introduction-con {
    margin-bottom: 50px;
    margin-top: 50px;
  }

  /* change the size of the logo on tablet ver */
  #logo {
    margin-top: 5px;
    margin-bottom: 0;
    order: -1;
    max-width: 100px;
  }

  #sign-header {
    display: flex;
    margin-right: -16px;
  }

  /* Add transition */
  .sign {
    background-color: #94da00;
    transition: background-color 500ms linear;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
    transition: all 0.3s ease;
    cursor: pointer;
    max-height: 50px;
    max-width: 117px;
    margin-top: 30px;
    border-radius: 5px;
  }
  .sign button {
    background: transparent;
    border: none;
    color: #333;
    font-weight: 900;
    font-size: 15px;
  }
  #ingredients {
    margin-bottom: 50px;
  }

  #ingredients p {
    margin-top: 15px;
    font-weight: 400;
    font-size: 16px;
  }
  #flavours-can {
    display: flex;
    flex-direction: row;
  }

  #testimonial {
    margin-top: 30px;
    margin-bottom: 30px;
    min-height: 130px;
  }
  .testimonial-paragraph {
    margin-bottom: 20px;
    text-align: center;
  }

  #footer-privacy {
    text-align: center;
  }
  #footer_logo {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 80px;
    height: 80px;
  }
  /* Contact Page*/
  #pineapple_contact {
    display: block;
  }
  #contact-form {
    padding: 20px 20px;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  /* Flavour Detail Box */
  .flavour-detail-box {
    margin-top: 10px;
  }
  .flavour-icon-pair h2 {
    font-size: 50px;
    margin-top: 30px;
  }
  .flavour-detail-box p {
    line-height: 30px;
    padding-top: 30px;
    font-size: 18px; /* Slightly smaller font size */
  }

  .flavour-detail-box h4 {
    padding-top: 30px;
    font-size: 18px; /* Adjust font size for consistency */
  }
  details {
    font-size: 16px;
  }

  summary {
    font-size: 16px;
  }

  .flavour-button-box {
    background-color: #94da00;
    transition: background-color 500ms linear;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
    transition: all 0.3s ease;
    cursor: pointer;
    width: 110px;
    height: 50px;
    margin: 5px;
    border-radius: 50px;
  }
  .flavour-button-big-box button {
    font-size: 15px;
  }

  .promo-light-box-button {
    background-color: #94da00;
    transition: background-color 500ms linear;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
    transition: all 0.3s ease;
    cursor: pointer;
    width: 110px;
    height: 30px;
    margin-top: 20px;
    border-radius: 50px;
  }

  .promo-light-box-button a {
    font-size: 15px;
  }
}

/* ---Desktop Library Grid Styles--- */

@media screen and (min-width: 1448px) {
  .box1 {
    top: 20%;
    left: 600px;
    width: 200px;
    height: 200px;
    z-index: 1;
  }
  .box2 {
    right: 75%;
    top: 13%;
    font-size: 70px;
    font-weight: bold;
    color: #fff;
    opacity: 0;
    z-index: 2;
    animation: textOne 2s ease-out 3s forwards;
  }
  .box4 {
    position: absolute;
    top: 10%;
    left: 20%;
    width: 60%;
    font-weight: bold;
    opacity: 0;
    color: #fff;
    z-index: 4;
    animation: canAni 3s ease-out 5s forwards;
  }
  .box5 {
    position: absolute;
    top: -55%;
    left: 12%;
    width: 30%;
    z-index: 3;
    animation: pineapple 2.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) 6s forwards;
  }
  .box6 {
    position: absolute;
    top: -55%;
    left: 26%;
    width: 30%;
    height: 110px;
    z-index: 5;
    animation: grape 2.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) 6s forwards;
  }
  .box7 {
    position: absolute;
    top: -52%;
    left: 45%;
    width: 30%;
    height: 100px;
    z-index: 5;
    animation: limee 2.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) 6s forwards;
  }
  .box8 {
    position: absolute;
    top: -48%;
    left: 58%;
    width: 30%;
    height: 150px;
    z-index: 3;
    animation: peach 2.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) 6s forwards;
  }
  #sticky-nav-con {
    position: sticky;
    top: 0px;
    background-color: #fffbf3;
    /* border-bottom: solid 1px #c3c3c3; */
    z-index: 1;
  }

  #main-header {
    height: 110px;
  }

  body {
    width: 1448px;
    margin: 0 auto;
  }

  #main-nav {
    margin-top: 2%;
    margin-bottom: 2%;
    margin-left: 25px;
  }

  /* set the nav at the center on vertical line */
  #main-nav ul {
    line-height: 30px;
  }

  #burger-con {
    font-size: 20px;
    margin-top: 28px;
  }

  #burger-con ul li {
    margin-right: 25px;
  }

  /* Booknoq => sign */
  .sign {
    background-color: #94da00;
    transition: background-color 500ms linear;
    display: flex;
    justify-content: center;
    align-items: center;
    font-style: italic;
    transition: all 0.3s ease;
    cursor: pointer;
    max-width: 170px;
    max-height: 50px;
    margin-top: 30px;
    border-radius: 5px;
  }

  .sign button {
    background: transparent;
    border: none;
    color: #333;
    font-weight: 900;
    font-size: 15px;
  }

  .sign:hover {
    /* can change the color if it's needed. */
    background-color: #1dda00af;
  }

  #ingredients p {
    margin-top: 15px;
    font-weight: 400;
    font-size: 18px;
  }

  #flavours-can {
    display: flex;
    flex-direction: row;
  }
  #footer-privacy {
    text-align: center;
  }

  #footer-logo-info a img {
    width: 60px;
    height: 60px;
    transition: transform 0.3s ease;
  }

  #footer-logo-info a img:hover {
    transform: scale(1.1);
  }

  #footer-nav nav {
    display: flex;
  }
  #footer-nav nav ul {
    list-style: none;
    padding: 0;
  }

  #footer-nav nav li {
    margin-bottom: 10px;
    font-weight: bold;
  }

  #footer-nav nav li a {
    color: #626262;
    text-decoration: none;
    font-weight: normal;
    transition: color 0.3s ease;
  }

  #footer-nav nav li a:hover {
    color: #94da00;
  }

  #footer-nav2 nav {
    display: flex;
  }
  #footer-nav2 nav ul {
    list-style: none;
    padding: 0;
  }

  #footer-nav2 nav li {
    margin-bottom: 10px;
    font-weight: bold;
  }

  #footer-nav2 nav li a {
    color: #626262;
    text-decoration: none;
    font-weight: normal;
    transition: color 0.3s ease;
  }

  #footer-nav2 nav li a:hover {
    color: #94da00;
  }
  #footer-na3 nav {
    display: flex;
  }
  #footer-na3 nav ul {
    list-style: none;
    padding: 0;
  }

  #footer-nav3 nav li {
    margin-bottom: 10px;
    font-weight: bold;
  }

  #footer-nav3 nav li a {
    color: #626262;
    text-decoration: none;
    font-weight: normal;
    transition: color 0.3s ease;
  }

  #footer-nav3 nav li a:hover {
    color: #94da00;
  }

  #footer-privacy {
    padding-top: 20px;
  }

  #footer_logo {
    margin-top: 30px;
    margin-bottom: 30px;
    width: 80px;
    height: 80px;
  }
  /* Contact Page*/
  #pineapple_contact {
    display: block;
  }
  #contact-form {
    padding: 20px 20px;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

/*---- Products page desktop ----*/
#lime-images {
  /* put image later*/
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 100px;
  padding: 100px;
  background-color: #333;
  justify-content: space-between;
}
